.benefits {
  &__items {
    display: flex;

    flex-wrap: wrap;
  }
  &__item {
    margin-bottom: 100px;
    display: flex;
    align-items: flex-end;
    padding-left: 25px;
    &:nth-child(even) {
      margin-left: 40px;
      transform: translateY(25px);
    }
    &:nth-child(3) {
      margin-left: 30px;
    }
    &:nth-child(4) {
      margin-left: 40px;
    }
    &:first-child,
    &:nth-child(3) {
      position: relative;
      &::before,
      &::after {
        content: "";
        position: absolute;
        background-repeat: no-repeat;
        background-position: 0 0;
      }
    }

    &:first-child {
      &::before {
        height: 48px;
        width: 245px;
        background-image: url("../../assets/images/line-1.svg");
        right: -56px;
        top: 31px;
      }
    }
    &:nth-child(3) {
      &::before {
        background-image: url("../../assets/images/line-3.svg");
        width: 254px;
        height: 43px;
        top: 50px;
        right: -55px;
      }
      &::after {
        background-image: url("../../assets/images/line-2.svg");
        width: 463px;
        height: 62px;
        top: -70px;
        right: -54px;
      }
    }
  }

  &__num {
    line-height: 41px;
    font-size: 36px;
    @extend %Ubuntu-Bold;
    margin-right: 10px;
  }
  &__img {
    position: relative;
    margin-right: 32px;
    &::before {
      content: "";
      position: absolute;
      width: 193px;
      height: 128px;
      border: 2px solid #fff;
      right: -12px;
      top: -12px;
      z-index: -1;
    }
  }
  &__info {
    width: 300px;
  }
  &__info-title {
    width: 123px;
    font-size: 21px;
    line-height: 24px;
    @extend %Ubuntu-Bold;
    margin-bottom: 10px;
  }
  &__info-text {
    font-size: 15px;
    line-height: 18px;
  }
}
