<section id="contacts" class="page-section contacts">
  <div class="page-section__wrapper">
    <div class="container">
      <h3 class="title">Остались вопросы?</h3>
      <div class="contacts__inner">
        <div class="contacts__info">
          <div class="contacts__info-box">
            <p class="contacts__info-title">Киев</p>
            <a href="tel:+80505676767" class="contacts__info-phone"
              >+8 (050) 567– 67 – 67</a
            >
            <a
              href="mailto:dgi.mavic2pro.kiev@mail.ru"
              class="contacts__info-email"
              >dgi.mavic2pro.kiev@mail.ru</a
            >
          </div>
          <div class="contacts__info-box">
            <p class="contacts__info-title">Москва</p>
            <a href="tel:+74995676767" class="contacts__info-phone"
              >+7 (499) 567– 67 – 67</a
            >
            <a
              href="mailto:dgi.mavic2pro.moscow@mail.ru"
              class="contacts__info-email"
              >dgi.mavic2pro.moscow@mail.ru</a
            >
          </div>
          <div class="contacts__info-box">
            <p class="contacts__info-title">Минск</p>
            <a href="tel:+375175676767" class="contacts__info-phone"
              >+3 (7517) 567– 67 – 67</a
            >
            <a
              href="mailto:dgi.mavic2pro.minsk@mail.ru"
              class="contacts__info-email"
              >dgi.mavic2pro.minsk@mail.ru</a
            >
          </div>
        </div>
        <div class="contacts__form">
          <form action="">
            <h4 class="contacts__form-title">Остались вопросы?</h4>
            <p class="contacts__form-text">
              Мы обязательно свяжемся с вами в течение двух рабочих дней
            </p>
            <div class="contacts__form-line">
              <input
                type="text"
                class="contacts__form-input"
                placeholder="Ваше имя"
              />
              <input
                type="email"
                class="contacts__form-input"
                placeholder="Ваше e-mail"
              />
            </div>
            <textarea
              class="contacts__form-textarea"
              placeholder="Что вас интересует?"
            ></textarea>
            <button class="contacts__form-btn" type="submit">ОТПРАВИТЬ</button>
          </form>
        </div>
        <div class="contacts__social">
          <ul class="contacts__social-list">
            <li class="contacts__social-item">
              <a class="contacts__social-link" href="#">
                <img src="../../assets/images/facebook.svg" alt="" />
              </a>
            </li>
            <li class="contacts__social-item">
              <a class="contacts__social-link" href="#">
                <img src="../../assets/images/youtube.svg" alt="" />
              </a>
            </li>
            <li class="contacts__social-item">
              <a class="contacts__social-link" href="#">
                <img src="../../assets/images/instagram.svg" alt="" />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="scroll__btn">
    <a href="#">
      <img src="../../assets/images/arrow-down.svg" alt="" />
    </a>
  </div> -->
</section>
<footer class="footer">
  <div class="container">
    <p class="footer__copy">© DJI, 2020</p>
  </div>
</footer>
