<header class="header">
	<div class="container">
		<div class="header__inner">
			<a href="#top" class="logo">
				<picture class="logo__img">
					<source srcset="../../assets/images/logo-mobile.png" media="(max-widht:600px)">
					<img src="../../assets/images/logo.png" alt="">
				</picture>
			</a>
			<nav class="menu">
				<ul class="menu__list">
					<li class="menu__list-item">
						<a class="menu__list-link" href="#products">О ДРОНЕ</a>
					</li>
					<li class="menu__list-item">
						<a class="menu__list-link" href="#benefits">ПРЕИМУЩЕСТВА</a>
					</li>
					<li class="menu__list-item">
						<a class="menu__list-link" href="#specification">ХАРАКТЕРИСТИКИ</a>
					</li>
					<li class="menu__list-item">
						<a class="menu__list-link" href="#questions">ВОПРОСЫ</a>
					</li>
					<li class="menu__list-item">
						<a class="menu__list-link" href="#contacts">КОНТАКТЫ</a>
					</li>
				</ul>
			</nav>
			<div class="header__info">
				<button class="header__btn">купить</button>
				<a href="tel:80505676767" class="header__phone">8 (050) 567 67 67</a>
			</div>
		</div>
	</div>
</header>

